/*
  File: style.css
  Author's: Ean Masoner, Keanu Foltz, and Usiel Figueroa 
  Course: CSD 380-A311 DevOps – Module 10.1 Assignment
  Instructor: Adam Bailey
  Date: July 17, 2025
  Description:
  This CSS file is created as part of a Git exercise.
  It is currently a placeholder with no active styles.
*/


html {
  height: 100%;
  width: 100%;
}

h1 {
  color: rgb(75, 75, 3);
}

body {
  background-color: rgba(255, 119, 0, 0.725);
  font-family: 'Times New Roman', Times, serif;
}

blockquote {
  color: rgb(168, 8, 13);
}