/*
  File: style.css
  Author's: Ean Masoner, Keanu Foltz, and Usiel Figueroa 
  Course: CSD 380-A311 DevOps – Module 10.1 Assignment
  Instructor: Adam Bailey
  Date: July 17, 2025
  Description:
  This CSS file is created as part of a Git exercise.
  It is currently a placeholder with no active styles.
*/


html {
  height: 100%;
  width: 100%;
}